<h1>Personnel file: <%= "#{@crew.name}" %></h1>

<div>
    <ul>
        <li>Rank: <%= @crew.rank %></li>
        <li>Admin: <%= @crew.clearance %></li>
        <li>Specialty: <%= @crew.specialty %></li>
        <li>Current assignment(s):
            <% if @crew.assignments %>
                <% @crew.assignments.each do |a| %>
                    <%= link_to a.name, ship_assignment_path(a.ship, a) %>
                <% end %>
            <% end %></li>
    </ul>
</div>
<br>
<p><%= link_to "Edit", edit_crew_path(@crew) %> | <%= link_to "Delete", @crew, method: :delete, data: { confirm: "Confirm Deleting?" } %></p>