<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome, <%= @crew.rank %> <%= @crew.name %></h2>

    <div class="content">
      <h3>Directory</h3>
      <ul>
        <li><%= link_to "View All Ships", ships_path %></li>
        <li><%= link_to "View All Crew", crews_path %></li>
        <li><%= link_to "View All Assignments", assignments_path %></li>
      </ul>
    </div>

    <div class="sidebar">
      <h3>Menu</h3>
      <ul>
        <li><%= link_to "Log Out", logout_path, data: { confirm: 'Log Out?' } %></li>
      </ul>
    </div>

  </div>
</div>