<h1>Log In</h1>

<%= form_for @crew, url: {action: "login"} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :password %>
    <%= f.text_field :password %><br>
    <%= f.submit "Log In" %>
<% end %>