<%= form_for([@ship, @assignment]) do |f| %>
    
    <strong><%= f.label :name %></strong>
    <%= f.text_field :name %><br>
    
    <strong><%= f.label :description %></strong>
    <%= f.text_field :description %><br></br>
    
    <strong><%= f.label :ship_id %></strong><br>
    <!-- <%= f.collection_check_boxes :ship_id, Ship.all, :id, :name %><br></br> -->
    <%= f.select(:ship_id) do %>
        <%= options_from_collection_for_select(Ship.all, :id, :name, :selected => @assignment.ship_id) %>
    <% end %>

    <br></br>
    <strong><%= f.label :crew_id %></strong><br>
    <!--<%= f.collection_check_boxes :crew_id, Crew.all, :id, :name %><br> -->
    <%= f.select(:crew_id) do %>
        <%= options_from_collection_for_select(Crew.all, :id, :name, :selected => @assignment.crew_id) %>
    <% end %>

    <br></br>
    <!-- <%= f.submit %> -->
    <button type="submit" name="commit" value="Create Assignment">Create Assignment</button>
<% end %>