<h1>Assignment</h1>

Assignment Name: <%= @assignment.name %><br>
Assignment Description: <%= @assignment.description %><br>
Assignment Ship ID: <%= @assignment.ship_id %><br>
Assignment Crew ID: <%= @assignment.crew_id %><br>
<br></br>
<p><%= link_to "Edit this assignment", edit_ship_assignment_path(@assignment.ship_id) %></p>
<p><%= link_to "Delete", @assignment, method: :delete, data: { confirm: "Confirm Deleting?" } %></p>