<%= form_for @ship do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :type_class %>
    <%= f.text_field :type_class %><br>
    <%= f.label :warp_factor %>
    <%= f.number_field :warp_factor %><br>
    <%= f.label :complement %>
    <%= f.number_field :complement %><br>
    <%= f.label :note %>
    <%= f.text_area :note %><br><br>
    <p>Assign Crew?  This probably shouldn't be here...</p>
    <%= f.collection_check_boxes :crew_ids, Crew.all, :id, :name %>
    <p>Or add a new crew member:</p>
    <%= f.fields_for :crews, @ship.crews.build do |crews_fields| %>
        <%= crews_fields.text_field :name %>
    <% end %>
    <br></br>
    <%= f.submit %>
<% end %>