<h1>This is currently the fastest ship in the fleet:</h1>

<p>Name: <%= @ship.name %></p>
<p>Class: <%= @ship.type_class %></p>
<p>Max warp factor: <%= @ship.warp_factor %></p>
<p>Crew Complement Size: <%= @ship.complement %></p>
<p>Notes: <%= @ship.note if @ship.note %></p>

