<h1>New Ship Form</h1>

<%= form_for @ship do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :type_class %>
    <%= f.text_field :type_class %><br>
    <%= f.label :warp_factor %>
    <%= f.number_field :warp_factor %><br>
    <%= f.label :complement %>
    <%= f.number_field :complement %><br>
    <%= f.label :note %>
    <%= f.text_area :note %><br><br>
    
    <p>Create Assignment?</p>
    <%= f.fields_for :assignments, @ship.assignments.build do |a| %>
        <%= a.label :name %>
        <%= a.text_field :name %><br>

        <%= a.label :description %>
        <%= a.text_field :description %><br>

        <%= a.select(:crew_id) do %>
            <%= options_from_collection_for_select(Crew.all, :id, :name) %>
        <% end %>
        <br><br>

        <%= a.hidden_field :ship_id, value: @ship.id %>
    <% end %>

    <%= f.submit %>
<% end %>
