<!DOCTYPE html>
<html>
  <head>
    <title>Starfleeter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="wrapper">
      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
    
      <%= yield %>

      <footer class="branding">
      <% if request.path != "/home" && request.path != "/" %>
        <a href="/home"><button>Home</button></a>
      <% end %>
      <% if logged_in? %>
        <a href="/logout" onclick="return confirm('Log Out?');"><button>Log Out</button></a>
      <% end %>
        <small>&copy; 2017 <strong>Starfleeter</strong></small>
      </footer>
    </div>
    
  </body>
</html>
